<div class="product-card">
  <div class="product-card-controls">
    <button (click)="back()">
      Назад
    </button>
    <button (click)="switchMode()" [disabled]="editMode">
      Редкактировать
    </button>
  </div>
  <form [formGroup]="productDataForm" (ngSubmit)="save()" class="product-card-form">
    <div class="product-card-form-input">
      <label for="name">
        Название товара
        <input class="product-card-form-input-field" type="text" id="name" formControlName="name">
      </label>
    </div>
    <div class="product-card-form-input">
      <label for="description">
        Описание товара
        <textarea appTextareaResize class="product-card-form-input-field" id="description" formControlName="description"></textarea>
      </label>
    </div>
    <div *ngIf="editMode" class="product-card-form-controls">
      <button [disabled]="!productDataForm.dirty" type="submit">
        Сохранить
      </button>
      <button (click)="cancel()">
        Отмена
      </button>
    </div>
  </form>
</div>
